<h1>Sign into your hotel account</h1>

<%= form_tag signin_path do %>
  <label>Email address: </label>
  <%= text_field_tag :'user[email]' %><br>
  <label>Password: </label>
  <%= text_field_tag :'user[password]' %><br>
  <%= submit_tag "Sign in" %>
<% end %>
