<% if @start && @ending %>
  <h1>Reservations between <%= @start %> and <%= @ending %></h1>
<% else %>
  <h1>Reservations</h1>
<% end %>

<% @bookings.each do |booking| %>
  <% room = Room.find_by_id(booking.room_id) %>
  <ul>
    <li><%= link_to "Room #{room.room_number}, check in: #{booking.checkin}, check out: #{booking.checkout}", booking_path(booking) %></li>
  </ul>
<% end %>
