<% if @start && @ending %>
  <h1>Reservations between <%= @start.strftime("%B %-d, %Y") %>, and <%= @ending.strftime("%B %-d, %Y") %></h1>

  <% @bookings.each do |booking| %>
    <% room = Room.find_by_id(booking.room_id) %>
    <ul>
      <li><%= link_to "Room #{room.room_number}, check in: #{booking.checkin}, check out: #{booking.checkout}", booking_path(booking) %></li>
    </ul>
  <% end %>

<% else %>
  <h1>Upcoming reservations</h1>

  <% if @bookings == [] && @user.admin? %>
    <h2>There are no upcoming reservations.</h2>
  <% elsif @bookings == [] %>
    <h2>You have no upcoming reservations. Please return to the home screen to book a room.</h2>
  <% else @bookings.each do |booking| %>
      <% if booking.checkin >= Date.today %>
        <% room = Room.find_by_id(booking.room_id) %>
        <ul>
          <li><%= link_to "Room #{room.room_number}, check in: #{booking.checkin.strftime("%B %-d, %Y")}, check out: #{booking.checkout.strftime("%B %-d, %Y")}", user_booking_path(@user, booking) %></li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

<% end %>
