<h1> Make a reservation </h1>

Check-in date: <%= @booking.checkin %><br>
Check-out date: <%= @booking.checkout %><br>
Number of guests: <%= @booking.group_size %>
<p>
<% @rooms.each do |room| %>
  Room <%= room.room_number %><br>
<% end %>
</p>
