<h1>Your booking at the Flatiron Hotel</h1>
Room ID: <%= @booking.room_id %><br>
User ID: <%= @booking.user_id %><br>
Group size: <%= @booking.group_size %><br>
Date range: <%= @booking.date_range %><br>
