<h1>Choose a room</h1>

Check-in date: <%= @booking.checkin %>
Check-out date: <%= @booking.checkout %>

<% @rooms.each do |room| %>
  <h3>Room number <%= room.number %></h3>
  $<%= room.cost %> per night
<% end %>
