<%= form_tag existing_bookings_path do %>
  <label>Start date: </label>
  <%= select_date Date.today, prefix: :'start_date' %><br>
  <label>End date: </label>
  <%= select_date Date.today, prefix: :'end_date' %><br>
  <%= submit_tag "See all reservations between these dates" %>
<% end %>
